*{
    padding: 0;
    margin: 0;
}
html,body{
    background: rgba(248, 246, 246, 0.932);
    height: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    overflow: auto;
    padding-bottom: 50px;
    background: rgba(248, 246, 246, 0.932);
    
}
nav{
    width: inherit;
    height: 50px;
    border-bottom: 2px solid rebeccapurple;
    text-align: center;
}

nav ul{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav ul li{
    position: relative;
    top: 20px;
    margin: 10px;
    padding: 2px;
    list-style: none;
   
    
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
.photo{
    background: url('images/pix.png');
    width: 200px;
    min-height: 200px;
    margin: 20px auto;
    background-position: top;
    background-size: cover;
    margin-top: 20px;
    border-radius: 250px;
}
.name{
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.decadev{
    font-size: 14px;
    text-align: center;
}

.story{
    padding: 10px;
    font-size:initial;
    text-align: justify;
}
.readme{
    position: relative;
    top: 30px;
    left: 30%;
    background: rebeccapurple;
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
}

.readme a{
    text-decoration: none;
    color: #fff;
}
h3{
    padding: 1px;
    margin-top: 10px;
    text-align: center;
}

 ol{
    display: block;
    margin-left: 10px;
    
}
ol li{
    padding: 5px;
    list-style: none;
    
}
.msg{
    color: red;
    text-align: center;
}

footer{
    background: rgb(155, 153, 153);
    text-align: center;
    color: #fff;
    padding: 10px;
    position: relative;
    bottom: 2px;
}


.contact-flex{
    background: url('images/contact.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rebeccapurple;
    width: 100%;
    margin-top: 2px;;
    height: 150px;
}
.contact-flex h1{
   padding-top: 30px;
}
.contact-desc{
    color: #000;
}
.call{
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid rgb(202, 199, 199);
    
}
.call-img{
    background: url('images/phone.png') no-repeat;
    background-color: rgb(219, 219, 216);
    width: 100px;
    margin: 10px auto;
    height: 100px;
    background-size: 100px;
    border-radius: 360px;
    background-position: center;
}
.mail, .skill, .edu{
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid rgb(219, 219, 216);
    
}
.mail-img, .skill-img, .edu-img{
    background: url('images/mail.png') no-repeat;
    background-color: rgb(219, 219, 216);
    width: 100px;
    margin: 10px auto;
    height: 100px;
    background-size: 100px;
    border-radius: 360px;
    background-position: center;
}
.skill-img{
    background: url('images/skill.png') no-repeat;
}
.edu-img{
    background: url('images/education.png') no-repeat;
}

form{
    width: 100%;
    text-align: center;
}
.contact-field{
    padding: 10px;
    width: 90%;
    margin: 5px;
   
}
.contact-field, textarea:focus{
    outline-color: rebeccapurple;
}
textarea{
    line-height: 1;
    width: 90%;
    height: 100px;
    margin: 5px;
    padding: 10px;
}
.submit{
    padding: 10px;
    margin: 5px;
    width: 90%;
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 5px;
}
.institution{
    font-weight: bolder;
    border-left: 2px solid rebeccapurple;
    margin-top: 15px;
}
.cert{
    margin-left: 15px;
    font-style: italic;
    
}
.active{
    color: rebeccapurple;
    
}

@media only screen and (min-width:768px){

.photo{
    float: left;
    background: url('images/mypix.png');
    background-position:top;
    width: 50%;
    height: 600px;
    margin-top: 20px;
    border-radius: 0px;
}

.myphoto{
    background: url('images/pix.png');
    width: 200px;
    height: 200px !important;
    margin: 20px auto;
    background-position: top;
    background-size: cover;
    margin-top: 20px;
    border-radius: 250px;
    float: none !important;
}
.details{
    float: right;
    width: 49%;
}
.contact-details{
    width: 85%;
    margin: 0 auto;
}
.about-details{
    width: 90%;
    margin: 0 auto;
}

.skill{
    float: left;
    width: 45%;
}
.edu{
    float: right;
    width: 49%;
}

.name{
    
    position: relative;
    top: 200px;
    padding-left: 15px;
    margin-bottom: 200px;
    border-left: 3px solid rebeccapurple;
    text-align: justify;
}
.story{
    position: relative;
    top: 20px;
    padding: 15px;
    margin-bottom: 20px;
    
}

.my-name{
    padding: 5px !important;
    top: 0 !important;
    margin-bottom: 10px !important;
    border-left: 0px solid rebeccapurple !important;
    text-align: center !important;
}


.my-story{
    padding: 10px;
    font-size: 18px;
    text-align: center !important;
}
.readme{ 
    top: 30px;
    left: 0px;
    padding: 8px;
    background: rebeccapurple;
    
}
.readme a{
    color: #fff;
}

.call{
    float: left;
    width: 47%;
    
}
.mail{
    float: right;
    width: 47%;
    
}

}