.homepage{
    width: 100%;
    margin: 0 auto;
}

.homepage.position{
    height: 100vh;
    overflow: hidden;
}


.contentWrapper{
        padding: 70px 50px;
    }

.container{
    /* height: calc(100vh - 6.25rem); */
    height: clamp(400px, 100vh - 6.25rem, 2000px );
    
}

.hero{
        padding-top: 3rem;
}
.overlay{
    display:  none;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), rgb(22, 8, 47, 0.6);
}

.overlay.cover{
    display: block;
    height: 100vh;
}



@media only screen and (min-width:769px) {
    
.contentWrapper{
        /* padding: 0 400px; */
        padding: 0 20%;
    }

    .hero{
        padding-top: 8rem;
        
    }

}



@media only screen and (max-width:500px) {
.contentWrapper{
        padding: 30px 20px;
    }
}


@media only screen 
  and (max-device-width: 1024px)
  /* and (min-device-pixel-ratio : 2.0) */
  and (orientation: landscape) 
  {

 .container{
    height: auto;
    margin-bottom: 100px;
    
}

.contentWrapper{
        /* padding: 0 400px; */
        padding: 0 10%;
    }

}